.Grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
	gap: 2.5rem;
	justify-items: center;
	align-content: center;
	/* padding: 2rem 0; */
	padding-top: 3rem;
	padding-bottom: 1rem;
}

@media (max-width: 360px) {
	.Grid {
		grid-template-columns: repeat(2, minmax(24rem, 1fr));
	}
}

.Grid__img {
	width: 100%;
}

.media:hover {
	transform: scale(1.1) translateY(-0.5rem);
	z-index: 8;
	overflow: hidden;
}

.media:hover .DeleteFavouriteButton {
	opacity: 1;
	pointer-events: all;
}
.media {
	color: white;
	max-width: 32rem;
}

.DeleteFavouriteButton {
	position: absolute;
	top: 1rem;
	right: 1rem;
	opacity: 0;
	pointer-events: none;
}
