.SearchBar__container {
	display: flex;
	position: relative;
	z-index: 9;
}

.SearchBar {
	background-color: rgba(97, 97, 97);
	border-radius: 25px;
	transform-origin: right;
	display: inline-flex;
	align-items: center;
	max-width: fit-content;
	padding: 0.5rem;
	/* min-width: 5rem; */
}

.SearchBar__input {
	/* display: inline-table; */
	transition: all 0.2s;
	background-color: transparent;
	outline: none;
	border: none;
	color: white;
	height: 100%;
	/* padding: 0.5rem 2px; */
	transform-origin: right;
	width: 15rem;
}

.listItem__container {
	display: flex;
	justify-content: space-between;
}

.listItem__img {
	width: 4rem;
}

.listItem__img img {
	width: 100%;
}

.listItem__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0rem 1rem;
}

.listItem__lower {
	display: flex;
	/* width: 100%; */
	/* justify-content: space-evenly; */
	gap: 1rem;
}
