.SearchBar {
	/* position: relative; */
}

.SearchBar__icon {
	transform: translateX(0);
	transition: all 0.2s;
}

.SearchBar__input {
	transition: all 0.2s;
}

/* .icon-active {
	transform: translateX(1rem);
}

.input-active {
	width: 100%;
} */
