.Recommended {
	padding: 0 5rem;
	padding-bottom: 5rem;
}

.Recommended__header {
	margin-bottom: 2rem;
}

.Recommended__grid-container {
	display: grid;
	gap: 2rem;
	width: 100%;
	grid-template-columns: repeat(3, minmax(min-content, 1fr));
}

@media (max-width: 468px) {
	.Recommended__grid-container {
		grid-template-columns: repeat(2, minmax(min-content, 1fr));
	}
}
